@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder {
  color: rgba(0, 0, 0, 0.75);
}

[data-animated='true'] {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

[data-tag='scroller'] {
  max-width: 600px;
}

[data-tag='inner_scroller'] {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 5s)
    var(--_animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}
